.example-section {
  margin: 12px 0;
}

.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;

}

ul {
  list-style-type: none;
  margin-top: 4px;

}

.gfg {
  margin: 3%;
  position: relative;
}

.first-txt {
  position: absolute;
  top: 17px;
  left: 50px;
}

.second-txt {
  position: absolute;
  bottom: 20px;
  left: 10px;
}

canvas {
  border: 1px solid grey;
}
