<head>
  <script src="stack1.js"></script>
</head>
<div class="container">
  <div class="row" style="margin-top: 50px;">
    <div class="col-sm-5">

      <img src="https://i.ibb.co/w4QhYBr/340618868-899903277951742-6679712580878809918-n.jpg" alt="" width="500"
              height="500">

      <canvas id="canvas"></canvas>



      <!-- <div>
                    <div id="wrapperDiv" style="width: 550px; height: 350px;">
                      <ejs-imageeditor (created)="created()" #ImageEditor>
                        <ng-template #toolbarTemplate let-data>
                          <div style="padding: 10px; border-bottom: 1px solid darkgray;">
                            <button class="e-btn" (click)="text()">Add Text</button>
                          </div>
                        </ng-template>
                      </ejs-imageeditor>
                    </div>
                  </div> -->


      <!-- <canvas id="myCanvas" width="578" height="400"></canvas>
      <script>
        var c = document.getElementById("myCanvas");
        var ctx = c.getContext("2d");
        ctx.font = "30px Arial";
        ctx.fillText("Hello World", 10, 50);
      </script> -->

      <div class="row" style="margin-top: 50px; width: 100%;;">
        <div class="col-sm" style="display: grid; margin: auto;">
          <button type="button" class="btn btn-outline-primary" style="margin-top: 5px;">Color</button>
          <button type="button" class="btn btn-outline-primary" style="margin-top: 5px;">Move</button>
          <button type="button" class="btn btn-outline-primary" style="margin-top: 5px;">set Number</button>

        </div>

      </div>
    </div>
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm">
          <p style="text-align: center;">รายวัน</p>
          <section class="example-section" *ngFor="let data of t1" style="margin: 0px;font-family:K2D, sans-serif;">
            <mat-checkbox class="example-margin" [disabled]="false" style="margin: -5px;" (change)="checkbox(data)"
              [checked]="isSelected">
              <p style="font-family: K2D;margin: 0px;">{{data.name}}</p>
            </mat-checkbox>
          </section>
        </div>

        <div class="col-sm">
          <p style="text-align: center;">หุ้น</p>
          <section class="example-section" *ngFor="let data of t2" style="margin: 0px;font-family:K2D, sans-serif;">
            <mat-checkbox class="example-margin" [disabled]="false" style="margin: -5px;" (change)="checkbox(data)"
              [checked]="isSelected">
              <p style="font-family: K2D;margin: 0px;">{{data.name}}</p>
            </mat-checkbox>
          </section>
        </div>

        <div class="col-sm">
          <p style="text-align: center;">VIP</p>
          <section class="example-section" *ngFor="let data of t3" style="margin: 0px;font-family:K2D, sans-serif;">
            <mat-checkbox class="example-margin" [disabled]="false" style="margin: -5px;" (change)="checkbox(data)"
              [checked]="isSelected">
              <p style="font-family: K2D;margin: 0px;">{{data.name}}</p>
            </mat-checkbox>
          </section>
        </div>
        <div class="col-sm">
          <p style="text-align: center;">ต่างประเทศ</p>
          <section class="example-section" *ngFor="let data of t4" style="margin: 0px;font-family:K2D, sans-serif;">
            <mat-checkbox class="example-margin" [disabled]="false" style="margin: -5px;" (change)="checkbox(data)"
              [checked]="isSelected">
              <p style="font-family: K2D;margin: 0px;">{{data.name}}</p>
            </mat-checkbox>
          </section>
        </div>
        <div class="col-sm">
          <p style="text-align: center;">รัฐบาล</p>
          <section class="example-section" *ngFor="let data of t5 let i = index"
            style="margin: 0px;font-family:K2D, sans-serif;">
            <mat-checkbox class="example-margin" [disabled]="false" style="margin: -5px;" (change)="checkbox(data)"
              [checked]="isSelected">
              <p style="font-family: K2D;margin: 0px;">{{data.name}}</p>
            </mat-checkbox>
          </section>
        </div>




      </div>
      <hr>
      <!--
      <div class="row">
        <div class="col-sm">
          <section class="example-section" style="margin: 0px;font-family:K2D, sans-serif;">
            <mat-checkbox class="example-margin" [disabled]="false" style="margin: -5px;">
              <p style="font-family: K2D;margin: 0px;"> ALL รายวัน</p>
            </mat-checkbox>
          </section>
          </div>
          <div class="col-sm">
          <section class="example-section" style="margin: 0px;font-family:K2D, sans-serif;">
            <mat-checkbox class="example-margin" [disabled]="false" style="margin: -5px;">
              <p style="font-family: K2D;margin: 0px;">ALL หุ้น</p>
            </mat-checkbox>
          </section>
          </div>

        <div class="col-sm">
          <section class="example-section" style="margin: 0px;font-family:K2D, sans-serif;">
            <mat-checkbox class="example-margin" [disabled]="false" style="margin: -5px;">
              <p style="font-family: K2D;margin: 0px;">ALL VIP</p>
            </mat-checkbox>
          </section>
          </div>
          <div class="col-sm">
          <section class="example-section" style="margin: 0px;font-family:K2D, sans-serif;">
            <mat-checkbox class="example-margin" [disabled]="false" style="margin: -5px;">
              <p style="font-family: K2D;margin: 0px;">ALL ต่างประเทศ</p>
            </mat-checkbox>
          </section>
          </div>
          <div class="col-sm">
          <section class="example-section" style="margin: 0px;font-family:K2D, sans-serif;">
            <mat-checkbox class="example-margin" [disabled]="false" style="margin: -5px;">
              <p style="font-family: K2D;margin: 0px;">ALL รัฐบาล</p>
            </mat-checkbox>
          </section>
          </div>
          </div> -->


      <div class="row" style="margin-top: 20px;">
        <div class="col-sm">
          <section class="example-section" style="margin: 0px;font-family:K2D, sans-serif;">
            <mat-checkbox class="example-margin" [disabled]="false" style="margin: -5px;" (change)="checkALL()">
              <p style="font-family: K2D;margin: 0px;">Select All</p>
            </mat-checkbox>
          </section>
        </div>
      </div>
    </div>
    {{ALL1|json}}
  </div>


  <!-- <div class="row" style="margin-top: 50px;">
    <div class="col-sm">
      <button type="button" class="btn btn-outline-primary">Primary</button>
      <button type="button" class="btn btn-outline-primary">Primary</button>
      <button type="button" class="btn btn-outline-primary">Primary</button>
    </div>
</div> -->

</div>
