/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'K2D', sans-serif;
}

@font-face {
  font-family: 'Superspace';
  src: url('./assets/Superspace\ Bold\ ver\ 1.00.ttf');
}

@font-face {
  font-family: 'chuanchiim';
  src: url('./assets/chuanchiim_regular_v1-0.ttf');
}
